*{
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
}

:root{
  /* Primary */

--Red: hsl(0, 78%, 62%)
--Cyan: hsl(180, 62%, 55%)
--Orange: hsl(34, 97%, 64%)
--Blue: hsl(212, 86%, 64%)

/* Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%)
--Grayish-Blue: hsl(229, 6%, 66%)
--Very-Light Gray: hsl(0, 0%, 98%)
}

body{
  margin: 0;
  padding: 0;
}

main{
  border: 1px solid blue;
  min-height: 100vh;
}

.top{
  border: 1px solid orange;
  height: 350px;
}