*{
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  font-family: "Poppins", sans-serif;
  margin: 0;
}

:root{
  /* Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

body{
  margin: 0;
  padding: 0;
}

main{
  border: 1px solid blue;
  padding: 45px 20px 50px 20px;
}

.top{
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 60vh; */
  text-align: center;
}

h1{
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  color: var(--Very-Dark-Blue);
}

.top h1:nth-of-type(1){
  font-weight: 200;
  color: var(--Grayish-Blue);
}

.top p {
  border: 1px solid red;
  margin: 20px 0 50px 0;
}

.one{
  border: 1px solid green;
  border-top: 4px solid var(--Cyan);
  border-radius: 10px;
  box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.24);
  padding: 20px 15px 20px 25px;
  display: flex;
  flex-direction: column;
}

/****************************************************************  */

.grid-container{
  border: 1px solid red;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 330px));
  /* grid-template-rows: repeat(40, 30px); */
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.one:nth-of-type(1){
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 155px;
  margin-top: 140px;
}

.one:nth-of-type(2){
grid-column: 2;
}

.one:nth-of-type(4) p{
  margin-bottom: 15px;
}

.one:nth-of-type(3){
  grid-column: 2;
  grid-row: 2;
}

.one:nth-of-type(4){
  grid-column: 3;
  grid-row: 1 / span 2;
  height: 155px;
  margin-top: 140px;
}




.one h2{
  font-weight: 400;
  margin: 0 0 10px 0;
  color: var(--Very-Dark-Blue);
}

.one p{
  font-size: 15px;
  margin-bottom: 25px;
}

.one img{
  width: 18%;
  align-self: flex-end;
  /* margin-top: 25px; */
}

@media screen and (max-width: 800px) {
  .grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .one{
    display: flex;
    width: 250px;
    height: 180px;
  }

  .one:nth-of-type(1){
    margin-top: 0;
  }

  .one:nth-of-type(2) p {
    margin-bottom: 5px;
  }

  .one:nth-of-type(2){
    height: 155px;
  }

  .one:nth-of-type(4){
    margin-top: 0;
  }
}

/* FLEXBOX WAS A TEST BUT TRY AGAIN WITH GRID RESPONSIVE LAYOUT */