*{
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  font-family: "Poppins", sans-serif;
  margin: 0;
}

:root{
  /* Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

main{
  border: 1px solid blue;
  min-height: 100vh;
}

.top{
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 60vh; */
  text-align: center;
}

h1{
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  color: var(--Very-Dark-Blue);
}

.top h1:nth-of-type(1){
  font-size: 35px;
  font-weight: 200;
  color: var(--Grayish-Blue);
}

.top p {
  border: 1px solid red;
  max-width: 42%;
  padding: 0 0 0 0;
  margin: 20px 0 50px 0;
}

.grid-container{
  border: 1px solid green;
  max-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}